Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
psycopg2-binary==2.9.9
itsdangerous==2.1.2
python-dotenv==1.0.0
sib-api-v3-sdk==7.6.0
email-validator==2.1.0
gunicorn==21.2.0
